<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.settipalli.alfred-workflow-paper</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>301A62E3-B31C-455D-B7BB-81AC4C747EAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ED1082B-92A3-4A75-BC9B-A26BAFB9F01F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Santhoshkumar Settipalli</string>
	<key>description</key>
	<string>Show links to recent articles published on a predefined set of newspaper websites.
Lists links to recent articles from a predefined set of newspapers.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>paper</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching news stories ...</string>
				<key>script</key>
				<string>python paper.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show links to recent articles published on a predefined set of newspapers ..</string>
				<key>title</key>
				<string>Paper</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>301A62E3-B31C-455D-B7BB-81AC4C747EAC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -na "Google Chrome" --args --incognito "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9ED1082B-92A3-4A75-BC9B-A26BAFB9F01F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>301A62E3-B31C-455D-B7BB-81AC4C747EAC</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>9ED1082B-92A3-4A75-BC9B-A26BAFB9F01F</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/settipalli/paper-alfred-workflow</string>
</dict>
</plist>
